<?xml version="1.0"?>
<!--
/**
 * Dependency Injection Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Virtual Type for Email Template Source Model -->
    <virtualType name="FlipDev\CustomerCleanup\Model\Config\Source\Email\Template" type="Magento\Config\Model\Config\Source\Email\Template">
        <arguments>
            <argument name="origTemplateCode" xsi:type="string">customercleanup_notification_warning</argument>
        </arguments>
    </virtualType>

    <!-- Virtual Types for UI Components -->
    <virtualType name="FlipDevCustomerCleanupCustomerGridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_entity</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Customer\Model\ResourceModel\Customer</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customercleanup_customer_listing_data_source" xsi:type="string">FlipDevCustomerCleanupCustomerGridCollection</item>
                <item name="customercleanup_log_listing_data_source" xsi:type="string">FlipDev\CustomerCleanup\Model\ResourceModel\CleanupLog\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
