<?xml version="1.0"?>
<!--
/**
 * Dependency Injection Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Customer Grid Collection with Cleanup Filters -->
    <type name="FlipDev\CustomerCleanup\Ui\Component\DataProvider\CustomerGridCollection">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_entity</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Customer\Model\ResourceModel\Customer</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customercleanup_customer_listing_data_source" xsi:type="string">FlipDev\CustomerCleanup\Ui\Component\DataProvider\CustomerGridCollection</item>
                <item name="customercleanup_log_listing_data_source" xsi:type="string">FlipDev\CustomerCleanup\Model\ResourceModel\CleanupLog\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
