<?xml version="1.0"?>
<!--
/**
 * Admin Menu Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="FlipDev_CustomerCleanup::inactive_customers"
             title="Inactive Customers (Cleanup)"
             module="FlipDev_CustomerCleanup"
             sortOrder="100"
             parent="Magento_Customer::customer"
             action="customercleanup/customer/index"
             resource="FlipDev_CustomerCleanup::cleanup_view"/>
        <add id="FlipDev_CustomerCleanup::cleanup_log"
             title="Customer Cleanup Log"
             module="FlipDev_CustomerCleanup"
             sortOrder="110"
             parent="Magento_Customer::customer"
             action="customercleanup/log/index"
             resource="FlipDev_CustomerCleanup::cleanup_log"/>
    </menu>
</config>
